**
!.dockerignore
!Dockerfile
!nginx/
!nginx/nginx.conf
!context/
!context/site/
!context/site/index.html
!context/site/404.html
!context/site/router.html
!context/site/robots.txt
!context/site/sitemap.xml
!context/site/assets/
!context/site/assets/**
!context/site/chapters/
!context/site/chapters/**
!context/site/models/
!context/site/models/**
